#第一次CSV檔案讀入

In [8]:
import pandas as pd

df = pd.read_csv('110-test.csv')

print(df.to_string())

   區域   縣市          學校  特教合格教師  一般合格教師  代理教師
0   北  新北市    新北特殊教育學校      68      19     0
1   北  宜蘭縣    宜蘭特殊教育學校      29       4     0
2   北  桃園市    桃園特殊教育學校      95      11     0
3   北  新竹縣    新竹特殊教育學校      52       3     0
4   中  臺中市        惠明盲校      10       6     0
5   中  臺中市      臺中啟明學校      36       4     0
6   中  彰化縣      和美實驗學校      63      30     0
7   中  彰化縣    彰化特殊教育學校      83       8     0
8   中  南投縣    南投特殊教育學校      32       3     0
9   南  臺南市  臺南大學附屬啟聰學校      52       4     0
10  南  高雄市    仁武特殊教育學校      37       5     0
11  南  屏東縣    屏東特殊教育學校      27       5     0
12  東  臺東縣  臺東大學附屬特教學校      28       3     0
13  東  花蓮縣    花蓮特殊教育學校      36       3     0
14  中  臺中市    臺中特殊教育學校      71      12     0
15  中  臺中市      臺中啟聰學校      69      13     0
16  南  嘉義市    嘉義特殊教育學校      60       9     0
17  南  臺南市    臺南特殊教育學校      69       4     0
18  中  雲林縣    雲林特殊教育學校      49       3     0
19  北  臺北市    臺北市立啟聰學校      64      21     0
20  北  臺北市    臺北特殊教育學校      81       6     0
21  北  臺北市    臺北市立啟明學校      47      11     0
22  北  臺北市    文山特殊教育學校     104      37     0
23  北  基隆市    基隆特殊教育學校      28       3     0
24  南  高雄市      楠梓特殊學校      64       0     0
25  南  高雄市    成功特殊教育學校      34       6     0
26  南  高雄市    高雄特殊教育學校      47       4     0
27  中  苗栗縣    苗栗特殊教育學校      36       5     0

In [9]:
df

   區域   縣市          學校  特教合格教師  一般合格教師  代理教師
0   北  新北市    新北特殊教育學校      68      19     0
1   北  宜蘭縣    宜蘭特殊教育學校      29       4     0
2   北  桃園市    桃園特殊教育學校      95      11     0
3   北  新竹縣    新竹特殊教育學校      52       3     0
4   中  臺中市        惠明盲校      10       6     0
5   中  臺中市      臺中啟明學校      36       4     0
6   中  彰化縣      和美實驗學校      63      30     0
7   中  彰化縣    彰化特殊教育學校      83       8     0
8   中  南投縣    南投特殊教育學校      32       3     0
9   南  臺南市  臺南大學附屬啟聰學校      52       4     0
10  南  高雄市    仁武特殊教育學校      37       5     0
11  南  屏東縣    屏東特殊教育學校      27       5     0
12  東  臺東縣  臺東大學附屬特教學校      28       3     0
13  東  花蓮縣    花蓮特殊教育學校      36       3     0
14  中  臺中市    臺中特殊教育學校      71      12     0
15  中  臺中市      臺中啟聰學校      69      13     0
16  南  嘉義市    嘉義特殊教育學校      60       9     0
17  南  臺南市    臺南特殊教育學校      69       4     0
18  中  雲林縣    雲林特殊教育學校      49       3     0
19  北  臺北市    臺北市立啟聰學校      64      21     0
20  北  臺北市    臺北特殊教育學校      81       6     0
21  北  臺北市    臺北市立啟明學校      47      11     0
22  北  臺北市    文山特殊教育學校     104      37     0
23  北  基隆市    基隆特殊教育學校      28       3     0
24  南  高雄市      楠梓特殊學校      64       0     0
25  南  高雄市    成功特殊教育學校      34       6     0
26  南  高雄市    高雄特殊教育學校      47       4     0
27  中  苗栗縣    苗栗特殊教育學校      36       5     0

In [32]:
temp = df[['區域', '特教合格教師','一般合格教師','代理教師']]
temp

   區域  特教合格教師  一般合格教師  代理教師
0   北      68      19     0
1   北      29       4     0
2   北      95      11     0
3   北      52       3     0
4   中      10       6     0
5   中      36       4     0
6   中      63      30     0
7   中      83       8     0
8   中      32       3     0
9   南      52       4     0
10  南      37       5     0
11  南      27       5     0
12  東      28       3     0
13  東      36       3     0
14  中      71      12     0
15  中      69      13     0
16  南      60       9     0
17  南      69       4     0
18  中      49       3     0
19  北      64      21     0
20  北      81       6     0
21  北      47      11     0
22  北     104      37     0
23  北      28       3     0
24  南      64       0     0
25  南      34       6     0
26  南      47       4     0
27  中      36       5     0

In [35]:
Type = temp.groupby(['區域']).sum().reset_index()
Type

  區域  特教合格教師  一般合格教師  代理教師
0  中     449      84     0
1  北     568     115     0
2  南     390      37     0
3  東      64       6     0

In [21]:
Type = temp.groupby(['區域']).sum().reset_index()

In [45]:
Type['year'] = 2021
Type

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     449      84     0  2021
1  北     568     115     0  2021
2  南     390      37     0  2021
3  東      64       6     0  2021

In [46]:
df109 = pd.read_csv('109-test.csv')
df108 = pd.read_csv('108-test.csv')
df107 = pd.read_csv('107-test.csv')

In [47]:
new = df109[['區域', '特教合格教師','一般合格教師','代理教師']].groupby(['區域']).sum().reset_index()

In [48]:
new['year'] = 2020

In [49]:
new

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     438      81     0  2020
1  北     568     116     0  2020
2  南     400      74     0  2020
3  東      66       7     0  2020

In [50]:
frames = [Type, new]
result = pd.concat(frames)

In [51]:
result

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     449      84     0  2021
1  北     568     115     0  2021
2  南     390      37     0  2021
3  東      64       6     0  2021
0  中     438      81     0  2020
1  北     568     116     0  2020
2  南     400      74     0  2020
3  東      66       7     0  2020

In [52]:
Past = df108[['區域', '特教合格教師','一般合格教師','代理教師']].groupby(['區域']).sum().reset_index()

In [53]:
Past['year'] = 2019

In [54]:
Past

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     435      84     0  2019
1  北     576     122     0  2019
2  南     394      68     0  2019
3  東      68       7     0  2019

In [79]:
frames = [Type, new, Past]
result = pd.concat(frames)

In [80]:
result

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     449      84     0  2021
1  北     568     115     0  2021
2  南     390      37     0  2021
3  東      64       6     0  2021
0  中     438      81     0  2020
1  北     568     116     0  2020
2  南     400      74     0  2020
3  東      66       7     0  2020
0  中     435      84     0  2019
1  北     576     122     0  2019
2  南     394      68     0  2019
3  東      68       7     0  2019

In [81]:
next = df107[['區域', '特教合格教師','一般合格教師','代理教師']].groupby(['區域']).sum().reset_index()

In [82]:
next['year'] = 2018

In [83]:
next

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     435      82     0  2018
1  北     553     129     0  2018
2  南     405      77     0  2018
3  東      69       5     0  2018

In [84]:
frames = [Type, new, Past, next]
result = pd.concat(frames)

In [85]:
result

  區域  特教合格教師  一般合格教師  代理教師  year
0  中     449      84     0  2021
1  北     568     115     0  2021
2  南     390      37     0  2021
3  東      64       6     0  2021
0  中     438      81     0  2020
1  北     568     116     0  2020
2  南     400      74     0  2020
3  東      66       7     0  2020
0  中     435      84     0  2019
1  北     576     122     0  2019
2  南     394      68     0  2019
3  東      68       7     0  2019
0  中     435      82     0  2018
1  北     553     129     0  2018
2  南     405      77     0  2018
3  東      69       5     0  2018